{% extends "layout.html" %}

{% block script %}
<script type="text/javascript">
    require(['models/files'], function (page) {
        page.init();
    });
</script>
{% endblock %}

{% block content %}
<table class="file-list">
<tr>
    <th>path</th>
    <th>modification time</th>
    <th>size</th>
</tr>
{% for item in files %}
<tr>
    <td class="file-path">{{ item.relpath }}</td>
    <td>{{ item.mtime }}</td>
    <td>{{ item.size }}</td>
    <td>
        <a class="fancybox" rel="group" href="{{ app_path }}page{{ item.relpath }}">view</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}