<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@400;700&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ app_path }}static/css/style.css"/>
        <link type="text/css" rel="stylesheet" href="{{ app_path }}static/css/jquery.fancybox.css"/>
        <link type="text/css" rel="stylesheet" href="{{ app_path }}static/css/katex.min.css" crossorigin="anonymous">
        <meta charset="utf-8" />
        <title>{{app_name}} {% if page_title %} - {{ page_title }}{% endif %}</title>
        <script type="text/javascript" src="{{ app_path }}static/js/requirejs.min.js"></script>
        <script type="text/javascript">
            requirejs.config({
                baseUrl: "{{ app_path }}static/js",
                paths: {
                    "jquery": "jquery.min",
                    "fancybox": "fancybox.min",
                    "katex": "katex.min"
                },
                shim: {
                    "fancybox": {
                        "deps": ["jquery"]
                    },
                    "katex": {
                        "exports": "katex"
                    }
                }
            });
            define('win', [], function () {
                return window;
            });
        </script>
    </head>
    <body>
        <div class="contents">
            <div class="path">
                <a class="home" href="{{ app_path }}page"><strong>&#x2302</strong></a> /
                {% for path_elm, path_cumul in path_elms %}
                <a href="{{ app_path }}page/{{ path_cumul }}">{{ path_elm }}</a> /
                {% endfor %}
                {{ page_name }}
            </div>
            <menu>
                <div class="utils">
                    <div class="search">
                        {% if enable_search %}
                        <form class="search" action="{{ app_path }}_search" method="GET">
                            <input type="text" name="query" value="{{ query }}" />
                            <button type="submit" title="search">&#128270;</button>
                        </form>
                        {% endif %}
                    </div>
                </div>

                {% block page_list_block %}
                {% if page_list %}
                <ul class="page-list">
                {% for full_path, pname, is_dir in page_list %}
                    <li>
                    {% if page_name == pname %}
                        <span class="page current">{{ pname }}{% if is_dir %}/{% endif %}</span>
                    {% else %}
                        <a class="page" href="{{ app_path }}page{{ full_path }}">{{ pname }}{% if is_dir %}/{% endif %}</a>
                    {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                    <div class="menu-alt">
                    {% block menu_content %}
                    {% endblock %}
                    </div>
                {% endif %}
                {% endblock %}
            </menu>
            <section class="main">
                {% block content %}
                {% endblock %}
            </section>
            <footer>
                <div class="links">
                    <strong>links:</strong>
                    <ul>
                        <li><a href="{{ app_path }}_images">images</a></li>
                    </ul>
                </div>
                {% block footer %}
                {% endblock %}
            </footer>
            {% block script %}
            {% endblock %}
        </div>
    </body>
</html>
