{% extends "layout.html" %}


{% block content %}
{{ html }}
{% endblock %}

{% block footer %}
<p>
    last change: <strong>{{ page_info.date }}</strong> by <strong>{{ page_info.user }}</strong>
    {% if page_info.changeset %}
    <br />
    revision: <strong>{{ page_info.changeset }}</strong><br />
    {{ page_info.summary }}
    {% endif %}
</p>
{% endblock %}

{% block script %}
<script type="text/javascript">
    require(['models/page'], function (page) {
        page.init();
    });
</script>
{% endblock %}